<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.krazevina.beautifulgirl" android:versionCode="10"
	android:versionName="2.0" >

    <application android:icon="@drawable/icon" android:label="@string/app_name"
    	 android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".Main" android:screenOrientation="portrait"
        			android:windowSoftInputMode="adjustPan"
                  android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"
                  android:launchMode="singleTop">
          <intent-filter>
          	<action android:name="android.intent.action.MAIN" />
        	<category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
         </activity>
         
         
         <activity android:name=".MainSearch" android:screenOrientation="portrait"
        	android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name" android:theme="@android:style/Theme.NoTitleBar"
            android:launchMode="singleTop"/>
                  
		<activity android:name=".Upload" android:label="@string/app_name" android:screenOrientation="portrait"/>

		<activity android:name=".Single1" android:label="@string/app_name"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<data android:mimeType="image/*" />
			</intent-filter>
		</activity>
		
		<activity android:name=".Single" android:label="@string/app_name"
			android:screenOrientation="portrait" android:launchMode="singleTop"/>
		<activity android:name=".NoConnect" android:label="@string/app_name"
			android:theme="@style/Theme.Transparent"
			android:launchMode="singleTop" android:screenOrientation="portrait"/>
		<activity android:name=".Browse" android:label="@string/app_name"
			android:theme="@style/Theme.Transparent"
			android:launchMode="singleTop" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="org.openintents.action.PICK_DIRECTORY"/>
			</intent-filter>
		</activity>
		<activity android:name=".Login" android:label="@string/app_name"
			android:theme="@style/Theme.Transparent" android:screenOrientation="portrait">
			<intent-filter>
                
            </intent-filter>
			</activity>
		<activity android:name=".Register" android:label="@string/app_name"
			android:theme="@style/Theme.Transparent" android:screenOrientation="portrait"/>
		<activity android:name=".Menu_info" android:label="@string/app_name"
			android:theme="@style/Theme.Transparent" android:screenOrientation="portrait"/>
		<activity android:name=".Setting" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name=".Editinfo" android:label="@string/app_name" android:windowSoftInputMode="adjustPan"
		android:screenOrientation="portrait"/>
		<activity android:name=".ChangePassword" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name=".Search" android:label="@string/app_name"
			android:theme="@style/Theme.Transparent" android:screenOrientation="portrait"/>
		<activity android:name=".Active" android:label="@string/app_name"
			android:theme="@style/Theme.Transparent" android:screenOrientation="portrait"/>
		<activity android:name=".Info" android:label="@string/app_name"
			android:theme="@style/Theme.Transparent" android:screenOrientation="portrait"/>
		<activity android:name=".Intro" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name=".Accept_rule" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name=".General" android:label="@string/app_name" android:windowSoftInputMode="adjustPan"
		android:screenOrientation="portrait"/>
		<activity android:name=".FollowList" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name=".UserList" android:label="@string/app_name" android:screenOrientation="portrait"/>
		<activity android:name=".GifActivity" android:label="@string/app_name" android:screenOrientation="portrait"/>
		
		<activity android:name="com.airpush.android.PushAds"
			android:configChanges="orientation|keyboardHidden"/>
        <receiver android:name="com.airpush.android.UserDetailsReceiver"/>
        <receiver android:name="com.airpush.android.MessageReceiver" />
        <receiver android:name="com.airpush.android.DeliveryReceiver" />
        <receiver android:name="com.Leadbolt.AdNotification" />
        <receiver android:name="com.krazevina.beautifulgirl.BootReceiver">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
				<category android:name="android.intent.category.HOME" />
			</intent-filter>
		</receiver>
        
        <service android:name="com.airpush.android.PushService"> 
			<intent-filter>
			<action android:name="com.airpush.android.PushServiceStart53202"/>
			</intent-filter>
		</service>
		
    </application>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SET_WALLPAPER"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.SET_WALLPAPER_HINTS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.GET_ACCOUNTS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- <uses-permission android:name="android.permission.SEND_SMS"/> -->
	<!-- <uses-permission android:name="android.permission.CALL_PHONE"/>  -->
	<uses-sdk android:minSdkVersion="8" />

	
	
</manifest>